* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEE715;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #24262b;
    color: white;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
}

.navbar-toggle {
    display: none;
}

.navbar-links:hover a {
    color: #FEE715;
    font-size: 1.1rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 160px;
}

.firstSection>div {
    width: 30%;

}

.leftSection {
    font-size: 2rem;
    color: #24262b;
}

.leftSection .buttons {
    padding: 30px 0;
}

.leftSection .btn:hover {
    color: #FEE715;
    font-size: 1.1rem;
}

.leftSection .btn {
    padding: 5px;
    background-color: #24262b;
    color: white;
    border: 2px solid #24262b;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.leftSection .btn a {
    text-decoration: none;
    color: white;
}

.rightSection img {
    width: 100%;
}

.blue {
    color: blueviolet;
}

#element {
    color: blueviolet;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 50px 100px;
}

.footer-col {
    width: 20%;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col .copyright {
    font-size: 12px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 5px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-top: 5px;
}

.footer-col .social-links img {
    height: 40px;
    width: 40px;
}

.footer-col .social-links ul {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:768px) {

    .firstSection {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        margin-top: 140px;
    }

    .firstSection .rightSection {
        width: 80%;
        padding-right: 20px;
    }

    .firstSection .leftSection {
        width: 100%;
        padding: 0 20px;
    }

    .row {
        justify-content: space-between;
    }
}

@media screen and (max-width:480px) {

    .navbar ul {
        flex-wrap: wrap;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle:hover {
        font-size: 1.5rem;
        color: #FEE715
    }

    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .active {
        display: block;
    }

    .firstSection {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        margin-top: 120px;
        flex-direction: column-reverse;
    }

    .firstSection .rightSection {
        width: 80%;
        padding-bottom: 20px;
        padding-right: 0;
    }

    .firstSection .leftSection {
        width: 90%;
        padding: 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row .footer-col {
        width: 200px;
        padding: 10px 0;
    }
}